# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# Node
node_modules/
dist/
*.log

# Vite
.vite/

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
docker-compose.override.yml

# Logs
*.log
logs/

# VSCode
.vscode/

